<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>兵庫部品</h1>
  user: {{ user.username }}
  <hr>
  {{ message }}
  {% if user.is_superuser %}
    <a href="/anken/staff/list">スタッフ用リスト</a>
  {% elif not user.is_superuser %}
    <a href="/anken/users/list">リスト</a>
  {% endif %}
  <hr>
  <p><a href="{% url 'logout' %}">ログアウト</a></p>
{% else %}
  <p>You are not logged in</p>
  <hr>
  <a href="{% url 'login' %}">ログイン</a>
{% endif %}
{% endblock %}
